.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .user-info {
        display: flex;


        .btn-airpnd-your-home {
            font-family: circularH;
            background-color: white;
            font-size: 18px;

            @media (max-width: 510px) {
                display: none;

            }
        }

        .btn-globe {
            background-color: white;

        }

        .btn-user {
            background-color: white;
            border: solid 1px #ddd;
            border-radius: 50px;
        }
    }

    .logo-container {
        display: flex;
        font-family: CerealBd;
        align-items: center;
        gap: 7px;
        cursor: pointer;

        .logo {
            width: 40px;
        }

        .logo-title {

            display: none;
            font-size: 1.6em;
            color: $clrLogo;

            @media (min-width: 1128px) {
                display: block;

            }

        }
    }

    @media (max-width: 800px) {
        .logo-container {
            display: none;
        }

        .user-info {
            display: none;
        }

        .stay-filter-header {
            flex-grow: 1;
            justify-content: center;
            width: 100%;
        }

    }
}

.stay-filter-header {
    display: flex;

    .stay-filter-btns {
        cursor: pointer;
        margin-top: 19px;
        display: flex;
        // width: 430px;
        justify-content: space-around;
        border: solid 1px #ddd;
        box-shadow: 1px 1px 2px 2px rgb(236, 234, 234);
        border-radius: 30px;
        gap: 1px;

        .stay-filter-btn {
            border-radius: 50px;
            background-color: white;
            font-size: 18px;
            padding: em(10px) em(5px);
        }



        .icon-search {
            flex-grow: 0;
            color: white;
            background-color: $clr3;
            padding: 10px;
            border-radius: 20px;

        }

        @media (max-width: 1000px) {
            justify-content: flex-start;

        }
    }



}

.hr-header {
    height: 1px;
    background-color: #efefef;
    border: none;

}