.app-header {
    // background-color: $clr4;
    display: flex;
    justify-content: space-between;
    // flex-direction: row;

    .user-info {
        background-color: #ddd;

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .btn-globe {
            .icon-globe {
                height: 20px;

            }
        }

        .btn-user {

            border-radius: 50px;

            background-color: aqua;

            .icon-user {
                padding: 10px;
            }
        }
    }

    .logo-container {
        display: flex;
        // width: 430px;
        font-family: CerealBd;
        align-items: center;
        gap: 7px;
        cursor: pointer;

        .logo {
            width: 40px;
        }

        .logo-title {

            display: none;
            font-size: 1.6em;
            color: $clrLogo;

            @media (min-width: 1128px) {
                display: block;

            }

        }
    }

}

.stay-filter-header {
    display: flex;
    flex-direction: column;

    // justify-content: center;
    .stay-filter-btns {
        cursor: pointer;
        margin-top: 19px;
        display: flex;
        justify-content: space-around;
        width: 430px;
        border: solid 1px #ddd;
        box-shadow: 1px 1px 2px 2px rgb(236, 234, 234);
        border-radius: 30px;
        gap: 1px;

        .stay-filter-btn {
            border-radius: 50px;
            background-color: white;
            height: 56px;
            font-size: 18px;
            // margin: 6px;
            margin-left: 10px;
            flex-grow: 1;
        }



        .icon-search {
            flex-grow: 0;
            color: white;
            background-color: $clr3;
            padding: 10px;
            border-radius: 20px;

        }

        @media (max-width: 1000px) {
            justify-content: flex-start;

        }
    }

    .stay-filter-form {

        // width: 1500px;
        display: flex;


        .filter-input {
            height: 70px;
            border-radius: 50px;

            // border-radius: 50px;
        }
    }
}