.btn-icon-filter {
    display: flex;
    padding: em(25px) em(15px);
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: white;
    margin-left: em(5px);
    align-items: center;
    justify-content: space-between;
    // z-index: 1;
}

.icon-nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;

    .filter-icon-pagination {
        position: absolute;
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: space-between;

        button {
            padding: em(15px) em(10px);
        }
    }

    .icon-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        opacity: 0.6;
        transition: 0.25s;
        gap: 7px;

        &:hover {
            transition: 0.25s;
            opacity: 1;
        }

        img {
            width: 25px;
        }

        // border-bottom: 30px solid transparent;

        p {
            font-family: CircularL;
            font-size: 12px;
            font-weight: 800;
        }
    }

}

// .icon-nav.hidden {
//     display: none;
// }