.btn-icon-filter {
    display: flex;
    padding: em(25px) em(15px);
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: white;
    margin-left: em(5px);
    align-items: center;
    justify-content: space-between;
}

// .icon-nav:not(:first-child) {
//     background-color: blue;

// }

.icon-nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 35px;
    cursor: pointer;

    .filter-icon-pagination {
        position: absolute;
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 7px;

        button {
            background-color: white;
            border-radius: 50%;
            border: #c3c3c3 1px solid;
            height: 28px;
            width: 28px;
            box-shadow: 0px 0px 20px 30px rgb(255, 255, 255);
            z-index: 100;
        }
    }

    .icon-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        opacity: 0.6;
        transition: 0.25s;
        gap: 7px;
        border-bottom: 1px solid white;

        &:hover {
            transition: 0.25s;
            opacity: 1;
            border-bottom: 1px solid #dddddd;
        }

        img {
            width: 25px;
        }

        p {
            font-family: CircularL;
            font-size: 12px;
            font-weight: 800;
        }
    }

    @media (max-width: 800px) {
        display: none;
    }

}