.dashboard-page {
    margin-top: em(10px);

    .charts-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
    }

    .chart-container {
        max-width: 330px;
        padding: em(17px);
        border-radius: em(7px);
    }

    .total-earn {
        box-shadow: #0000001f 0 6px 16px;
        padding: em(24px);
        border-radius: em(12px);
        max-height: 250px;
        width: 100%;
    }

    .total-expenses {
        background-color: #fbce9f;
        // border: 1px solid rgb(157, 157, 157);
    }

    .google-map-host {
        width: 95%;
        margin: auto;
        padding: em(10px);
        height: 290px;
    }

    ///PEER - TAX /// 
    .tax-report {
        font-family: circularL;
        // color: $clrGrayFont;
        display: flex;
        max-width: 330px;
        padding: em(30px) em(17px);
        font-size: em(16px);
        font-weight: 400;
        border-radius: 8px;
        justify-content: flex-start;
        box-shadow: #0000001f 0 6px 16px;
        border-radius: em(12px);
        max-height: 250px;
        width: 100%;
        // background: linear-gradient(to left, #50793ab4, #76b852b3, #f5f5f5);
        // padding: em(24px);


        .tax-head {
            align-self: flex-start;
            padding-bottom: em(32px);
            display: flex;
            flex-direction: column;
        }

        .tax {
            font-weight: 600;
            font-size: em(20px);
            color: $clrBlackFont;
        }

        .tax-bottom {
            display: flex;
            flex-direction: column;
            align-self: flex-end;

            span {
                font-weight: 600;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }
    }

    .res-status {

        font-family: circularL;
        max-width: 330px;
        padding: em(30px) em(17px);
        font-size: em(16px);
        border-radius: 8px;
        box-shadow: #0000001f 0 6px 16px;
        border-radius: em(12px);
        max-height: 250px;
        width: 100%;

        .res-status-box {
            display: flex;
            flex-direction: column;
            // padding: em(14px);

            .curr-status {
                padding-top: em(16px);

                .status-line {
                    display: flex;
                    justify-content: space-between;
                    margin-top: em(4px);
                    font-size: em(18px);

                    span {
                        text-align: left;

                    }

                    .pending {
                        color: orange;
                    }

                    .approved {
                        color:green;

                    }
                    .decline {
                        color:red;
                    }
                }
            }
        }
    }
}