.dashboard-page {
    margin-top: em(10px);
    background-color: #ffffff;

    .charts-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    .chart-container {
        max-width: 330px;
        padding: em(17px);
        border-radius: em(7px);
    }

    .total-earn {
        background-color: #fddfb3;

    }

    .total-expenses {
        background-color: #ffeee6;
    }

    .google-map-host {
        width: 85%;
        margin: auto;
        padding: em(10px);
        height: 290px;
    }

    ///PEER - TAX /// 

    .tax-report {
        font-family: circularL;
        color: $clrGrayFont;
        display: flex;
        // flex-direction: column;
        align-items: center;
        padding: 40px;
        font-size: em(14px);
        font-weight: 400;
        border-radius: 8px;
        background: #76b852;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #76b852, #76b852b3, #f5f5f5);
        /* Chrome 10-25, Safari 5.1-6 */
        // align-items: flex-end;
        justify-content: flex-start;
        background: linear-gradient(to left, #76b852, #76b852b3, #f5f5f5);


        .tax-head {
            align-self: flex-start;
            padding-bottom: em(32px);
            display: flex;
            flex-direction: column;
        }

        .tax {
            font-weight: 600;
            font-size: em(20px);
            color: $clrBlackFont;
        }

        .tax-bottom {
            display: flex;
            flex-direction: column;
            align-self: flex-end;

            span {
                font-weight: 600;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }
    }
}