.dashboard-page {
    margin-top: em(10px);

    .charts-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
    }

    .chart-container {
        max-width: 330px;
        padding: em(17px);
        border-radius: em(7px);
    }

    .total-earn {
        background-color: #e2fdc3;
        background: linear-gradient(to right, #677e5b, #76b852b3, #f5f5f5);

    }

    .total-expenses {
        background-color: #fbce9f;
        // border: 1px solid rgb(157, 157, 157);
    }

    .google-map-host {
        width: 95%;
        margin: auto;
        padding: em(10px);
        height: 290px;
    }

    ///PEER - TAX /// 
    .tax-report {
        font-family: circularL;
        color: $clrGrayFont;
        display: flex;
        max-width: 330px;
        padding: em(35px) em(17px);
        font-size: em(14px);
        font-weight: 400;
        border-radius: 8px;
        justify-content: flex-start;
        background: linear-gradient(to left, #233a17, #76b852b3, #f5f5f5);


        .tax-head {
            align-self: flex-start;
            padding-bottom: em(32px);
            display: flex;
            flex-direction: column;
        }

        .tax {
            font-weight: 600;
            font-size: em(20px);
            color: $clrBlackFont;
        }

        .tax-bottom {
            display: flex;
            flex-direction: column;
            align-self: flex-end;

            span {
                font-weight: 600;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }
    }
}