.filter-dates-modal {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(199, 199, 199);
  border-radius: 20px;
  position: absolute;
  // height: 10px;
  width: 800px;
  top: em(85px);
  right: em(-490px);
  // right: em(280px);

  @media (max-width: 1100px) {
    transition: 0.3s;
    width: 712px;
    right: em(-385px);
  }
}