// <section className='filter-who-modal'>
//       <div className='guest-select flex'>
//         <div className='guest-select-contant'>
//           <p>Adults</p>
//           <p>Ages 13 or above</p>
//         </div>
//         <div className='modal-btn-group'>
//           <button>➖</button>
//           <span>0</span>
//           <button>➕</button>
//         </div>
//       </div>
.filter-who-modal {
  // position: absolute;
  // top: 80px;
  // padding: em(40px);
  // left: em(0px);
  // border-radius: em(30px);
  // background-color: white;
  // border: 0.5px solid #ddd;

  background-color: #fff;
  padding: 40px;
  position: absolute;
  right: 0;
  top: 110%;
  border-radius: 30px
}


// .guest-select:not(:first-child) {
//   padding-top: 30px;
// }

// .guest-select:not(:last-child) {
//   border-bottom: 1px solid #ebebeb;
// }

.guest-select {
  // font-family: circularBd;
  // justify-content: space-between;
  // padding: em(24px) em(4px) em(24px) em(0px);

  display: flex;
  justify-content: space-between;
  padding: 24px 4px 24px 0;
  gap: 30px;
  border-block-end: 1px solid #e7e7e7;

  .guest-select-contant {
    // background-color: blue;
    // display: grid;
    // justify-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .modal-btn-group {
    font-family: circularL;
    font-size: 15px;
    display: flex;
    align-items: center;

    button {
      background-color: white;

      &>* {
        width: 38px;
        height: 38px;
        fill: #717171;
      }
    }
  }
}