.host-stay-list {
  padding: em(10px);

  .host-stay {
    display: grid;
    // gird // justify-content: space-between;
    align-items: center;
    padding: em(10px);

    .img-desc-container {
      align-items: center;
      gap: em(10px);
      width: 33.33333%;

      img {
        border-radius: 5px;
        width: 50px;
        height: 50px;
      }
    }

    .icons-container {
      width: 33.33333%;
    }
  }
}