.host-orders {
    padding: em(12px);
    border-radius: 5px;


    .host-orders-headline {
        display: grid;
        grid-template: 65px/.9fr 1fr .6fr .5fr .5fr;
        gap: 20px;
        align-items: center;
        padding-inline: 15px;

        p {
            font-family: circularH;
            font-weight: bold;
            text-transform: capitalize;
        }


        :last-child {
            justify-self: flex-end;
        }

    }

    .host-orders-list {
        display: flex;
        flex-direction: column;
    }

    .order-status {
        display: grid;
        grid-template: 65px/.9fr 1fr .6fr .5fr .5fr;
        gap: 20px;
        align-items: center;
        padding-inline: 15px;

        p {
            font-family: circularL;
            font-weight: bold;
            text-transform: capitalize;
        }

        .user-img-order-container {
            display: flex;
            align-items: center;

            img {
                margin-right: em(6.5px);
                height: 32px;
                width: 32px;
                border-radius: 50%;
                object-fit: cover
            }
        }



        .status-indicator {
            gap: 5px;
            justify-self: flex-end;

            select {
                text-transform: capitalize;
                padding: em(7.5px);
                border: none;
                background-color: rgb(247, 238, 238);

                option {
                    padding: em(5px);
                }
            }
        }
    }
}