.review-list {
    border-top: em(1px) solid rgb(221, 221, 221);
    margin-top: em(33px);
    border-bottom: em(1px) solid $clrBorderGray;

    .star-img {
        margin-right: em(6px);
    }

    .seperator {
        padding-left: em(4px);
        padding-right: em(4px);
    }

    h2 {
        margin-top: em(33px);
        align-items: center;
        padding-bottom: em(18px);
    }

    .review-head-lins {
        display: grid;
        
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
        @media (min-width: 740px) {
            grid-template: repeat(3, 1fr)/repeat(4, 1fr);
        }

        gap: 10px;
        margin-bottom: em(30px);
        align-items: center;

        .progress-container {
            display: flex;
            align-items: center;
            border-radius: em(30px);
            font-size: em(18px);

            span {
                border-radius: em(30px);
            }

            progress {
                background-color: black;
                font-size: em(16.3px);
                height: em(6px);
                border-radius: em(40px);
                margin-inline-end: em(10px);
            }

            progress::-webkit-progress-bar {
                font-size: em(16px);
                height: em(6px);
                border-radius: em(40px);
                margin-inline-end: em(6px);
            }

            progress::-webkit-progress-value {
                background-color: black;
                font-size: em(16px);
                height: em(6px);
                border-radius: em(40px);
                margin-inline-end: em(6px);
            }

            progress::-moz-progress-bar {
                background-color: black;
                font-size: em(16px);
                height: em(6px);
                border-radius: em(40px);
                margin-inline-end: em(6px);
            }
        }
    }
}

.review-list-preview {
    padding-top: em(16px);
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 740px) {
        grid-template-columns: repeat(2, 1fr);
    }

    grid-gap: 20px;
    margin-bottom: em(24px);

    .txt {
        padding-top: em(16px);
    }

    .review-preview {
        padding-right: em(98px);

        .more-btn {
            text-decoration: underLine;
            background-color: $clrMBg;
            color: $clrBlackFont;
            font-weight: 600;
            font-size: em(16px);
            padding: 0;
            line-height: em(40px);
        }
    }

    .review-header {
        text-transform: capitalize;
        align-items: center;
        gap: em(10px);

        img {
            object-fit: cover;
            width: em(50px);
            height: em(50px);
            border-radius: 50%;
        }

        .date {
            color: $clrGrayFont;
        }
    }
}

.google-map {
    margin-top: em(34px);

    h2{
padding-bottom: 16px;
    }
}