.stay-filter-expanded {
    width: 90%;
    justify-self: center;
    // background-color: aqua;
    // border: solid 1px #ddd;
    border-radius: 50px;
    justify-items: center;

    .stay-filter-form.show {
        transition: 0.5s;
        opacity: 1;
        height: 100px;
        align-items: center;
        display: flex;
        justify-content: center;

        .filter-where {
            width: 330px;
            height: 80px;
            // border: 2px solid black;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px;

            .filter-where-label {
                .filter-where-input {
                    flex-grow: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                }
            }
        }

        .filter-where {
            width: 330px;
            height: 80px;
            border: 2px solid black;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px;

            .filter-where-label {
                .filter-where-input {
                    flex-grow: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                }
            }
        }

        .filter-check-in {
            // flex-grow: 0.5;
            width: 130px;
            height: 80px;
            border: 2px solid black;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px;

            .filter-check-in-label {
                .filter-check-in-input {
                    flex-grow: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                }
            }
        }

        .filter-check-out {
            // flex-grow: 0.5;
            width: 130px;
            height: 80px;
            border: 2px solid black;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px;

            .filter-check-out-label {
                flex-grow: 1;

                .filter-check-out-input {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                }
            }
        }

        .filter-who {
            // flex-grow: 0.5;
            width: 130px;
            height: 80px;
            border: 2px solid black;
            border-radius: 50px;
            display: flex;
            // flex-direction: row;
            padding: 12px;

            .filter-check-who-label {
                // display: flex;
                // flex-direction: row;

                .filter-check-who-input {
                    flex-grow: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    outline: none;
                    border: none;

                }

                .btn-search-filter {
                    width: 135px;
                    height: 60px;
                    border-radius: 50px;
                    background-color: $clrLogo;
                }
            }

        }

        // .filter-who {
        //     align-items: center;
        //     // flex-grow: 0.5;
        //     width: 145px;
        //     height: 80px;

        //     border: 2px solid black;
        //     border-radius: 50px;

        //     .filter-who-label {
        //         display: flex;
        //         flex-direction: row;

        //         .filter-who-input {
        //             width: 100%;
        //             height: 100%;
        //             border: none;
        //         }


        //     }

        // }

    }


}

.stay-filter-form.hidden {
    opacity: 0;
    height: 0;
    // width: 0;
}