.stay-filter-expanded {
    width: 100%;
    justify-self: center;

    .stay-filter-form {
        display: flex;
        justify-content: center;

        .filter-input {
            height: 70px;
            border-radius: 50px;
        }
    }
}