.stay-expanded {
    display: flex;
    justify-content: space-between;

    .capacity {
        display: grid;
        grid-template-rows: 1fr 1fr;
        border-bottom: em(1px) solid rgb(221, 221, 221);

        .owner {
            grid-row: 1;
            font-size: em(16px);
            padding-bottom: em(10px);
        }

        .guests {
            grid-row: 2;
            color: #222222;
            font-weight: 400;
            font-size: em(18px);
            line-height: em(16px);

            span {
                padding: em(6px);
            }

        }
    }

    img {
        width: em(61px);
        height: em(61px);
        border-radius: 50%;
        justify-self: end;
        grid-row: 1 / -1;
    }

    .host {
        display: flex;
        margin-top: em(30px);
    }


    .txt {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: em(18px);
        line-height: em(20px);
        margin-left: em(16px);
    }

    .head-span {
        margin-top: em(5px);
        font-size: em(14px);
        line-height: em(20px);
        color: rgb(113, 113, 113);
        font-weight: 400;
    }

    .air-cover {
        border-top: 1px solid rgb(221, 221, 221);
        margin-top: em(28px);
        display: flex;
        flex-direction: column;

        .air {
            width: em(124px);
            height: em(26px);
            border-radius: 0;
            margin-top: em(33px);
            margin-bottom: em(29px);
        }

        .txt {
            font-size: em(18px);
            line-height: em(18px);
            font-weight: inherit;
            margin-left: 0;
        }

        .more {
            margin-top: em(15px);
            color: #222222;
            text-decoration: underline;
            font-weight: bold;
            font-size: em(18px);
        }
    }
}