.stay-filter-expanded {
    font-family: CerealBd;
    font-size: 16px;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    margin-top: 180px;
    z-index: 1;
    display: flex;
    justify-content: center;
    // height: 100px;

    .con.show {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ebebeb;
        animation: scale-display 0.5s;
        border: 1.5px solid #ddd;
        border-radius: 50px;
        padding: 0px;
        width: fit-content;
        height: 80px;
        // padding


        .stay-filter-form {

            padding: 0px;
            margin: 0px;

            .filter-where {
                position: relative;
                // background-color: aqua;
                width: 400px;
                height: 80px;
                //      
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                padding: 18px 38px;

                .filter-where-label {
                    .filter-where-input {
                        background-color: #ebebeb;
                        width: 100%;
                        // height: 100%;
                        border-radius: 10px;
                        outline: none;
                        border: none;
                    }
                }
            }

            &:hover {
                .filter-where {
                    background-color: #ddd;

                    .filter-where-label {
                        .filter-where-input {
                            background-color: #ddd;
                        }
                    }
                }
            }

            &.active {
                .filter-where {
                    background-color: #fff;
                    box-shadow: 0 0 15px rgb(207, 207, 207);

                    .filter-where-label {
                        .filter-where-input {
                            background-color: #fff;

                        }
                    }
                }
            }
        }

        .filter-check-in {
            font-family: CerealBd;
            font-size: 16px;
            width: 165px;
            height: 70px;
            // 
            // 
            // 
            // 
            // 
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px 27px;
            background-color: #ebebeb;

            &:hover {
                background-color: #ddd;
            }
        }

        .filter-check-out {
            font-family: CerealBd;
            font-size: 16px;
            width: 165px;
            height: 70px;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            padding: 12px 27px;
            background-color: #ebebeb;

            &:hover {
                background-color: #ddd;
            }
        }

        .filter-who {
            position: relative;
            width: 320px;
            height: 80px;
            border-radius: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;

            &:hover {
                background-color: #ddd;
            }

            &.active {
                background-color: #fff;
                box-shadow: 0 0 15px rgb(207, 207, 207);
            }

            .filter-who-content {
                padding: 18px 30px;
                position: relative;
            }

            .btn-search-filter {
                font-family: CerealBd;
                // font-weight: ;
                color: #ffffff;
                font-size: 20px;
                // justify-self: flex-end;
                width: 138px;
                height: 60px;
                border-radius: 50px;
                background-color: #e31a5f;
                display: flex;
                gap: 6px;
                align-items: center;

                @media (max-width: 1100px) {
                    transition: 0.3s;
                    width: 60px;

                    .search-word {
                        display: none;
                    }
                }
            }

            p.search-icon {
                padding-left: 10px;
                padding-top: 6px;

                .search-icon {}
            }
        }

        & .unbold {
            // padding-top: 3px;
            font-family: circularL;
            color: #717171;
            font-size: 18px;
        }

        @keyframes scale-display {
            0% {
                height: 0;
                opacity: 0;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            100% {
                height: 100px;
                opacity: 1;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        &>span {
            height: 34px;
            width: 1px;
            background-color: #ddd;
        }
    }

    @media (max-width: 1060px) {
        display: none;
    }
}

.dark {

    background-color: #bfbfbf;
}