.user-page-modal {
    position: absolute;
    top: em(50px);
    right: em(0px);
    background-color: white;
    box-shadow: 0 0 em(7px) #d6d0d6;
    display: flex;
    flex-direction: column;
    border-radius: em(10px);
    gap: em(10px);
    z-index: 1000;
    cursor: pointer;

    hr {
        border: em(0.5px) solid $clrGrayFont;
        width: 100%;
    }

    .page-item {
        padding: em(10px) em(120px) em(10px) em(10px);
    }

    .bold {
        .page-item {
            font-family: circuarlUser;
        }
    }

    a {
        text-decoration: none;
        color: #2a282a;
    }
}