.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: em(1px) solid rgb(221, 221, 221);
  border-radius: em(12px);
  padding: em(24px);
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  margin-top: em(110px);
  width: em(510px);
  margin-left: em(58px);

  .static{
    position: fixed;
    top: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;

    .price {
      font-size: 20px;
      font-weight: bold;
    }

    .reviews {
      font-size: 15px;
    }
  }

  .checkin-out {
    display: flex;

    :first-child {
      border-right: none;
    }
  }

  label {
    font-size: 18px;
  }

  input[type="text"] {
    width: 100%;
    padding: em(24px) em(20px);
    border: em(2px) solid #ccc;
    border-radius: em(4px);
  }

  .prices,
  .total {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;

    .cash {
      font-weight: bold;
    }
  }

  .total {
    font-size: em(18px);
  }

  .date-range {
    position: absolute;
    z-index: 1000;
    left: em(-463px);
    top: em(100px);
  }
}