.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: em(510px);
  width: 45%;
  margin-left: em(58px);
  max-height: em(500px);
  border: em(1px) solid rgb(221, 221, 221);
  border-radius: em(12px);
  padding: em(24px);
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: em(20px);

    .price {
      font-size: 20px;
      font-weight: bold;
    }

    .night {
      font-weight: normal;
    }

    .reviews {
      font-size: 15px;
    }
  }

  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkin-out {
    display: flex;

    :first-child {
      border-right: none;
    }
  }

  label {
    font-size: 18px;
  }

  input[type="text"] {
    padding: em(24px) em(20px);
    border: em(2px) solid #ccc;
    border-radius: em(4px);
  }

  .guests {
    width: em(300px);
  }

  .reserve {
    width: em(322px);
    margin-top: em(16px);
    margin-bottom: em(16px);
    border-radius: em(10px);
    font-weight: 600;
    height: em(50px);
    transition: 1s;
  }

  p {
    text-align: center;
    color: #717171;
    // color: aqua;
  }

  .summary {
    width: 100%;
    margin-top: 20px;
    .prices {

      .cash {
        display: flex;
        justify-content: space-between;
        color: #717171;
        font-weight: normal;
        text-decoration: underline;
        line-height: em(40px);

        .right {
          text-decoration: none;
        }
      }

    }

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: em(16px);
      font-weight: 600;
      margin-top: em(16px);
      border-top: em(1px) solid rgb(221, 221, 221);
      padding-top: em(20px); 
    }


    .date-range {
      position: absolute;
      z-index: 1000;
      left: em(-463px);
      top: em(100px);
    }
  }
}