.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: em(1px) solid rgb(221, 221, 221);
  border-radius: em(12px);
  padding: em(24px);
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  width: em(510px);
  margin-left: em(58px);
  max-height: em(500px);
  overflow: auto;

  .header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: em(20px);

    .price {
      font-size: 20px;
      font-weight: bold;
    }

    .reviews {
      font-size: 15px;
    }
  }

  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 16px;
  }

  .checkin-out {
    display: flex;
    width: em(300px);

    :first-child {
      border-right: none;
    }
  }

  label {
    font-size: 18px;
  }

  input[type="text"] {
    width: 100%;
    padding: em(24px) em(20px);
    border: em(2px) solid #ccc;
    border-radius: em(4px);
  }

  .guests {
    width: em(300px);
  }

  .reserve {
    width: em(322px);
  }

  .prices,
  .total {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;

    .cash {
      font-weight: bold;
    }
  }

  .total {
    font-size: em(18px);
  }

  .date-range {
    position: absolute;
    z-index: 1000;
    left: em(-463px);
    top: em(100px);
  }
}