// .guest-type {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   height: em(54px);

//   :hover{

//   }

//   .content {
//     display: flex;
//     flex-direction: column;
//     font-size: em(16px);
//     font-weight: 550;

//     .description {
//       font-weight: 400;
//       font-size: em(14px);

//     }

//     .description-pets {
//       text-decoration: underline;
//       font-weight: 550;
//       font-size: em(13px);
//     }
//   }

//   .btns {
//     display: flex;
//     align-items: center;
//     padding-left: em(24px);

//     .guest-btn {
//       display: flex;
//       align-items: center;
//       justify-content: space-around;
//       border-radius: 5em;
//       padding: 14px;
//       width: em(10px);
//       height: em(10px);
//       border: 1px solid rgb(176, 176, 176);
//       background-color: white;
//     }

//     span{
//       padding-left: em(16px);
//       padding-right: em(16px);
//     }
//   }
// }

// .book-form .guests {
//   border-top: none;
//   border-bottom-left-radius: em(8px);
//   border-bottom-right-radius: em(8px);
//   font-size: 10px;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start !important;

//   .bold {
//     font-weight: 600;
//     color: #292929;
//   }

//   .second-row {
//     font-size: em(24px);
//   }

//   .bold,
//   .second-row {
//     line-height: em(24px);
//   }
// }

.tax-report {
    font-family: circularL;
    color: $clrGrayFont;
    display: flex;
    // flex-direction: column;
    align-items: center;
    max-width: 330px;
    padding: 40px;
    font-size: em(16px);
    font-weight: 400;
    border-radius: 8px;
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8DC26F, #76b852);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8DC26F, #76b852);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .tax-head {
        align-self: flex-start;
        padding-bottom: em(32px);
        display: flex;
        flex-direction: column;
    }

    .tax {

        font-weight: 600;
        color: $clrBlackFont;

    }

    .tax-bottom {
        display: flex;
        flex-direction: column;
        align-self: flex-end;

        span {
            font-weight: 600;
        }
    }

    img {
        width: 100px;
        height: 100px;
    }
}