.stay-confirm {
    font-family: circularL;

    .main-line {
        display: flex;

        .back-btn {
            background-color: var(--clrMBg);
        }

        h1 {
            font-size: em(32px);
            padding-left: em(50px);
            font-weight: 2200;
        }
    }

    .order-sum {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .left-side {
            p {
                font-weight: 600;
                font-size: em(24px);
                padding: em(24px) 0 em(12px);
            }

            .dates,
            .guests {
                display: flex;
                grid-gap: 12px;
                font-weight: 600;
                font-size: em(18px);
                padding-bottom: em(36px);
                line-height: em(20px);

                span {
                    font-weight: 400;
                }

                .edit-btn {
                    background-color: $clrMBg !important;
                    font-weight: 600;
                    text-decoration: underline;
                    padding-left: em(480px);
                }

                .left {
                    display: flex;
                    flex-direction: column;
                }
            }

            .book-btn {
                color: $clrMBg;
                background-color: $clrHeart;
                padding: em(16px);
                border-radius: em(8px);
            }
        }

        .modal {
            .modal-info{
                display: flex;
                flex-direction: column;
            }
            .img-confirm{
                width: 300px;
            }
        }
    }
}