* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
body,
h3,
h4,
h5,
h6,
p,
ul,
li,
section,
article,
div,
header,
footer {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}