.stay-details {
    display: grid;
    width: 100%;
    color: var($clrBlackFont);
    font-size: em(15px);
    font-family: circularL;

    .stay-name {
        font-weight: 600;
        font-size: 1.625em;
        margin-top: em(10px);
        font-weight: bold;
    }

    .stay-info {
        margin-bottom: em(26px);
        font-weight: 600;
        justify-content: space-between;

        .img-star {
            width: em(15px);
            margin-right: em(7px);
        }

        .stay-reviews {
            margin-left: em(8px);
            text-decoration: underline;
        }

        .stay-location {
            margin-left: em(8px);
            text-decoration: underline;
        }

        .seperator {
            margin: 0 4px;
        }

        .action-btn {
            display: none;

            @media (min-width: 740px) {
                display: flex;
                align-items: center;

                img {
                    height: em(15px);
                    width: em(15px);
                    margin-right: em(1.5px);
                }

                .duo {
                    display: flex;
                    align-items: center;
                    font-size: em(18px);
                    padding: em(6px);

                    &:hover {
                        background-color: $clrHoverGray;
                        border-radius: em(8px);
                        cursor: pointer;
                    }
                }

                .back-img-details{
                    margin-top: em(4px);
                }

                .share-btn,
                .save-btn {
                    color: $clrBlackFont;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }
    }

    .imgs-container {

        display: grid;

        .grid-img-1 {
            aspect-ratio: 667/444;
        }

        @media (max-width: 840px) {

            .grid-img-2,
            .grid-img-3,
            .grid-img-4,
            .grid-img-5 {
                display: none;
            }
        }

        @media (min-width: 740px) {
            grid-template: repeat(2, 26vh)/2fr 1fr 1fr;
            gap: em(8px);
            grid-template-areas:
                "grid-img-1 grid-img-2 grid-img-3"
                "grid-img-1 grid-img-4 grid-img-5";

            .grid-img-1 {
                grid-area: grid-img-1;
            }

            .grid-img-1 img {
                border-bottom-left-radius: em(16px);
                border-top-left-radius: em(16px);
            }

            .grid-img-3 img {
                border-top-right-radius: em(16px);
            }

            .grid-img-5 img {
                border-bottom-right-radius: em(16px);
            }

            .grid-img-1,
            .grid-img-2,
            .grid-img-3,
            .grid-img-4,
            .grid-img-5 {

                :hover {
                    cursor: pointer;
                    transition: 0.4s;
                    filter: brightness(90%);
                }
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .capacity {
        img {
            object-fit: cover;
        }
    }
}

.reserve-mobile {
    position: absolute;
    right: 10000px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include for-mobile-layout {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: $clrMBg;
        border-top: em(1px) solid $clrBorderGray;
        z-index: 99999;

        .btn-container {
            width: em(115px);
            height: em(55px);
            align-self: flex-end;
        }

        .info-side {
            display: flex;
            flex-direction: column;
            padding: em(16px);
            font-size: em(18px);

            .price {
                font-weight: 900;

                .night {
                    font-weight: 300;
                }
            }

            .dates {
                text-decoration: underline;
            }
        }
    }
}