.stay-container {
    display: flex;
    justify-content: center;
    margin-top: em(19.5px);
}

.stay-grid {
    display: grid;
    width: 100%;
}

.stay-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: em(60px) em(24px);

    @include for-narrow-layout {
        grid-template-columns:
            repeat(2, 1fr)
    }

    @media (min-width: 950px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1640px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1880px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.img-container {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        aspect-ratio: 1.0550819672/1;
        object-fit: cover;
        border-radius: 10px;
        transition: 0.3s ease-in-out all;
        cursor: pointer;
    }

    .slider-btn {
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin: 0 em(14px);
        bottom: em(135px);

        @media(min-width: 1100px) and (max-width: 1200px) {
            bottom: em(115px);
        }

        button {
            width: 25px;
            height: 25px;
            opacity: 0.000000001;
            border-radius: 20px;

            @media (max-width: 500px) {
                opacity: 0.6;
            }
        }
    }

    &:hover {
        button {
            transition-duration: 0.6s;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    .wish-list {
        position: absolute;
        display: flex;
        justify-content: end;
        top: em(17px);
        right: em(17px);
        cursor: pointer;
    }
}

.stay-small-details {
    position: relative;
    bottom: em(12px);

    .small-details-header {
        justify-content: space-between;
    }

    p {
        color: #717171;
        font-size: 15px;
        font-family: circularL;
    }

    .priceP {
        position: relative;
        font-weight: bold;
        color: #222;
        font-size: em(16px);
        top: em(5px);

        span {
            color: #222222;
            font-weight: 0;
            font-size: em(15px);
            // font-family: Helvetica, sans-serif;
        }
    }
}

.loc {
    font-family: circularH;
    font-weight: 600;
    font-size: 15px;
}

.doots {
    position: absolute;
    display: flex;
    left: 40%;
    bottom: em(30px);
    gap: em(5px);
    // z-index: 1;
}

.doot {
    cursor: pointer;
    width: 7px;
    height: 7px;
    background-color: #a8a7a0;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
        background-color: white;
        scale: 1.01;
    }
}

.doot-active {
    background-color: white;
    scale: 1.01;
}

.preview-rate {
    justify-content: space-between;
    gap: em(4px);
}

.my-heart {
    color: #41454fd2;
}