.user-orders {
    background-color: #f3f3f3;
    padding: em(6px);
    border-radius: 5px;
}

.nav-orders-details {
    display: flex;
    background-color: #f3f3f3;
    justify-content: space-between;
    gap: em(10px);

    .btn-link {
        font-family: circularH;
        width: 50%;
        padding: em(10px);
        border-radius: em(10px);
        background-color: white;
        display: flex;
        align-items: center;
        border: 1px solid rgb(202, 202, 202);
        text-decoration: none;
        color: $clrBlackFont;
    }

    .active {
        color: $clr3;
        border: 1px solid $clr3;
    }
}

.orders-details {
    padding: em(5px);
    margin-top: em(15px);
    display: flex;
    gap: em(15px);

    .order-list {
        background-color: #fff;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: em(10px);
        width: 50%;
    }
}

.order-preview{
    font-family: circularH;
    padding: em(10px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    border: 1px solid white;

    &:hover {
        border: 1px solid $clrGrayFont;
    }

    .order-indiction {
        display: flex;
        align-items: center;
    }
}

.order-preview-modal {
    font-family: circularH;
    background-color: white;
    width: 50%;
    .order-display {
        display: flex;
        flex-direction: column;
        padding: em(24px);
        gap: em(15px);
        background-color: white;
        grid-template-rows: repeat(2, 1fr);
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: #0000001f 0 6px 16px;
    }

    .order-img {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 4px;

        img {
            object-fit: cover;
            background-size: cover;
            height: 100%;
        }

        :first-child {
            grid-row: 1/-1;
            border-start-start-radius: 8px;
            border-end-start-radius: 8px;
        }

        :nth-child(2) {
            border-start-end-radius: 8px;
        }

        :nth-child(3) {
            border-end-end-radius: 8px;
        }
    }
}