.stay-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.stay-list {
    display: grid;
    grid-template-columns: repeat(200px, 1fr);
    gap: 40px 24px;

    @include for-narrow-layout {
        grid-template-columns:
            repeat(2, 1fr)
    }

    @media (min-width: 950px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1640px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1880px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.img-container {
    width: 100%;

    img {
        width: 100%;
        aspect-ratio: 1.0550819672/1;
        border-radius: 10px;
        object-fit: cover;
        transition: 1s ease-in-out;
    }

    .slider-btn {
        position: relative;
        bottom: em(155px);
        justify-content: space-between;
        align-items: center;
        margin: 0 em(6px);

        button {
            width: 20px;
            height: 20px;
            opacity: 0;
            border-radius: 20px;
        }
    }

    &:hover {
        button {
            transition-duration: 0.9s;
            opacity: 1;
        }
    }
}