.stay-grid {
    width: 100%;
}

.stay-list {
    display: grid;
    grid-template-columns: repeat(300px, 1fr);
    // gap: 40px 24px;
    gap: em(60px) em(24px);

    @include for-narrow-layout {
        grid-template-columns:
            repeat(2, 1fr)
    }

    @media (min-width: 950px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1640px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1880px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.img-container {
    width: 100%;

    img {
        width: 100%;
        aspect-ratio: 1.0550819672/1;
        border-radius: 10px;
        object-fit: cover;
        transition: 1s ease-in-out;
    }

    .slider-btn {
        position: relative;
        bottom: em(155px);
        justify-content: space-between;
        align-items: center;
        margin: 0 em(6px);

        button {
            width: 25px;
            height: 25px;
            opacity: 0.00000001;
            border-radius: 20px;
        }
    }

    &:hover {
        button {
            transition-duration: 0.6s;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    .wish-list {
        position: relative;
        bottom: em(243px);
        // right: 0px;
        left: em(227px);

        .icon-heart {
            width: 30px;
            height: 20px;
        }

    }


}

.stay-small-details {
    position: relative;
    bottom: em(34px);

    p {
        color: #717171;
        font-size: 15px;
        font-family: circularL;
    }
}

.loc {
    font-family: circularH;
    font-weight: 600;
    font-size: 15px;
}