.login-page {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    box-shadow: 0 0 em(7px) white;
    padding: em(15px);
    width: 350px;
    min-height: 400px;
    border-radius: em(7px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;

    .btn-signup-login {
        width: 100%;
        color: #fff;
        border: none;
        background: radial-gradient(circle at left, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        border-radius: em(10px);
        font-weight: 600;
        height: em(50px);
        transition: 1s;
        margin: em(20px) em(0px) em(28px);
        font-size: em(16px);
    }

    h3 {
        font-family: circularH;
        align-self: center;
        padding: em(0px) em(0px) em(5px) em(0px);
    }

    .login-conatiner {
        align-self: center;
        width: 100%;

        .login-form {
            display: flex;
            flex-direction: column;
            height: 112px;
            border-radius: 8px;
            border: 1px solid rgba(27, 27, 27, .34);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: em(2px);

            :first-child {
                border-radius: 0px;
                border-bottom: 0.5px solid rgba(27, 27, 27, .34);
            }

            input {
                font-size: 16px;
                padding-left: em(12px);
                height: 47.5%;
                border: 0;
                border-radius: 8px;
                outline: none;
            }
        }

    }

    .signup {
        align-self: center;
        width: 100%;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        height: 112px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid rgba(27, 27, 27, .34);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: em(2px);

        :not(:last-child) {
            border-radius: 0px;
            border-bottom: 0.5px solid rgba(27, 27, 27, .34);
        }

        input {
            font-size: 16px;
            padding-left: em(12px);
            height: 47.5%;
            border: 0;
            border-radius: 8px;
            outline: none;
        }
    }

    hr {
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
}