.user-page-modal {
    position: absolute;
    top: em(65px);
    right: em(0px);
    background-color: white;
    box-shadow: 0 0 em(5px) #beb9be;
    display: flex;
    flex-direction: column;
    border-radius: em(10px);
    z-index: 10000;
    cursor: pointer;
    padding: 10px 8px;

    .bold {
        div {
            &:hover {
                border-radius: em(7px);
                background-color: rgb(241, 241, 241)
            }

        }

    }

    hr {
        width: 100%;
        background-color: #ddd;
        height: 1px;
        border: none;
    }

    .page-item {
        width: 220px;
        padding: em(10px) em(0px) em(10px) em(10px);


        span {
            position: relative;
            top: em(0.25px);
        }

    }

    .bold {
        .page-item {
            color: #222;
            font-family: circularH;
            font-weight: 600;
        }
    }

    .grey {
        .page-item {
            font-family: circularL;
            color: #424242;

            &:hover {
                border-radius: em(7px);
                background-color: rgb(241, 241, 241);
            }
        }

    }

    a {
        text-decoration: none;
        color: #2a282a;
    }
}