@font-face {
    font-family: circular;
    src: url(../../fonts/circular/CircularStd-Black.otf);
}

@font-face {
    font-family: circularH;
    src: url(../../fonts/circular/CircularStd-Book.otf);
}

@font-face {
    font-family: circularL;
    src: url(../../fonts/circular/CircularStd-Light.otf);
}

@font-face {
    font-family: CerealBd;
    src: url(../../fonts/circular/AirbnbCereal_W_Bd.otf);
}
@font-face {
    font-family: circuarlUser;
    src: url(../../fonts/circular/CircularStd-Bold.otf);
}

// @font-face {
// font-family: montserrat;
// src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }