// Colors
$clr1: #FFFFFF; //Main BG color
$clr2: #FF5A5F; //Logo color 
$clr3: #FF385C; //magnifying glass, picked heart icon bg color 
$clr4: #222222; //black font color (expect add guests) 
$clr5: #717171; //gray font color (add guests, labels)
$clr6: #5F6569; //Heart icon 



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;