// Colors
$clrMBg: #FFFFFF; //Main BG color
$clrLogo: #FF5A5F; //Logo color 
$clr3: #FF385C; //magnifying glass, picked heart icon bg color 
$clrBlackFont: #222222; //black font color (expect add guests) 
$clrGreayFont: #717171; //gray font color (add guests, labels)
$clrHeart: #5F6569; //Heart icon 



// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;