// Colors
$clrMBg: #FFFFFF; //Main BG color
$clrLogo: #ff395c; //Logo color 
$clr3: #FF385C; //magnifying glass, picked heart icon bg color 
$clr4: #fa7991c0; //magnifying glass, picked heart icon bg color 
$clrBlackFont: #222222; //black font color (expect add guests) 
$clrGrayFont: #717171; //gray font color (add guests, labels)
$clrHeart: #5F6569; //Heart icon 
$clrHoverGray: #f5f5f5; //light gray for hovering
$clrBorderGray: #dddddd; //color for border



// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
